<section class="header">
    <nav>
        <a [routerLink]="['/home']"><h3>Instagram</h3></a>
        <input type="search" placeholder="search" />
        <ul>
            <li>
                <a [routerLink]="['/home']"><img src="../../assets/home.PNG" width="70%"/></a>
            </li>
            <li>
                <a [routerLink]="['/inbox']"><img src="../../assets/messages.PNG" width="70%"/></a>
            </li>
            <li>
                <a [routerLink]="['/explore']"><img src="../../assets/three.PNG" width="70%"/></a>
            </li>
            <li class="link2">
                <a><img src="../../assets/likes.PNG" width="70%"/></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Activity On Your Posts</a></li>
                        <li><a href="#">When someone likes or comments on one of your posts, you'll see it here.</a></li>
                    </ul>
                </div>
            </li>
            <li class="link1">
                <a><img  src="../../assets/myPhoto.PNG" width="70%"/>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Saved</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Switch Accounts</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</section>
<br><br>
<div class="container-fluid d-flex justify-content-center">
    <div class="col-ms-9">
        <div>
            <img src="../../assets/IMG_20210913_064339.jpg" width="110%"/>
        </div>
    </div>
</div>
