<section class="header">
    <nav>
        <a [routerLink]="['/home']"><h3>Instagram</h3></a>
        <input type="search" placeholder="search" />
        <ul>
            <li>
                <a [routerLink]="['/home']"><img src="../../assets/home.PNG" width="70%"/></a>
            </li>
            <li>
                <a [routerLink]="['/inbox']"><img src="../../assets/messages.PNG" width="70%"/></a>
            </li>
            <li>
                <a [routerLink]="['/explore']"><img src="../../assets/three.PNG" width="70%"/></a>
            </li>
            <li class="link2">
                <a><img src="../../assets/likes.PNG" width="70%"/></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Activity On Your Posts</a></li>
                        <li><a href="#">When someone likes or comments on one of your posts, you'll see it here.</a></li>
                    </ul>
                </div>
            </li>
            <li class="link1">
                <a><img  src="../../assets/myPhoto.PNG" width="70%"/>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Saved</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Switch Accounts</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</section>
<br><br><br>
<div class="container">
    <div class="col-ms-9 justify-content-center d-flex DIV">
                <p class="NAME">manar_elsheikh67</p>
                <img class="IMG-1" src="../../assets/settings.PNG" width="10%" height="10%" >
                <p class="p1">112</p>
                <p class="p2">posts</p>
                <p class="p3">506</p>
                <p class="p4">followers</p>
                <p class="p5">2,497</p>
                <p class="p6">following</p>
                <p class="p71">Manar</p>
                <p class="p72">Elsheikh</p>
                <p class="p8">16/6/2000</p>
                <p class="p91">FCI</p>
                <p class="p92">Assiut</p>
                <p class="p93">University</p>
                <p class="p101">Bioinformatics</p>
                <p class="p102">Department</p>
                <img class="image-1" src="../../assets/Screenshot_2021-09-12-06-56-48-03_1c337646f29875672b5a61192b9010f9.png" width="10%" height="10%">
                <img class="image-2" src="../../assets/IMG_20210912_085436.jpg" width="85%" height="15%"/>
    </div>
</div>