<div class="container-fluid">
    <div class="col-ms-4" >
     <div class="col-ms-12 one" > 
         <div class="large">
       <img src="../../assets/Capture3.PNG"  width="25%">
         </div>
         <br>
       <p class="paragraph-1">Trouble Logging In?</p>
       <pre>Enter your email, phone, or username and we'll
send you a link to get back into your account.</pre>
       <form class="col-ms-12" [formGroup]="exform2" >
           <input type="text" class="form-control input-1" formControlName="email" placeholder="Email, Phone, or Username" >
           <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.required" class="text-danger">email is required<br></small>
            <small *ngIf="email.errors?.minlength" class="text-danger">(minimum length 20)</small>
            <small *ngIf="email.errors?.email" class="text-danger">invalid email</small>
           </div>
            <br>
           <button  type="submit" [disabled]="exform2.invalid" class="btn btn-primary btn-1">Send Login Link</button>
           <br><br>
           <hr class="hr-1"> <p class="paragraph-3">OR</p> <hr class="hr-2">
           <p class="paragraph-2">Create New Account</p>
       </form>
       </div>
       <div class="col-ms-12 two">
        <a [routerLink]="['/']"><p>Back To Login</p></a>
        </div>
    </div>  
</div>

